@keyframes gradient {
    0%, 100% {
        background: linear-gradient(to bottom, #455a64, #455a64, #455a64);
    }
    50% {
        background: linear-gradient(to bottom, #455a64, #455a64, #455a64);
    }
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #37474f;
    animation: gradient 10s ease-in-out infinite;
}

.logo {
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}
svg {
    width: 30px;
    fill: #0d5eaf;
    margin: 0 10px;
    transition: fill 0.3s ease;
}

svg:hover {
    fill: #e90606;
}

header {
    background-color: #263238;
    color: #fff;
    padding: 10px;
    text-align: center;
}

nav {
    background-color: #37474f;
    padding: 10px;
    text-align: center;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline-block;
    margin: 0 10px;
}

nav ul li a {
    color: #eceff1;
    text-decoration: none;
    transition: color 0.3s ease;
}

nav ul li a:hover {
    color: #179ef2;
    transform: scale(1.5); 
}

section {
    padding: 20px;
    text-align: left;
    background-color: #263238;
}

footer {
    background-color: #102027; 
    color: #179ef2;
    padding: 10px;
    text-align: center;
}

img {
    width: 20%;
}

@media(max-width: 768px) {
    img {
        width: 100%;
    }
}
