/* Keyframes for gradient animation */
@keyframes gradient {
    0%, 100% {
        background: linear-gradient(to bottom, #80ced6, #80ced6, #80ced6);
    }
    50% {
        background: linear-gradient(to bottom, #80ced6, #80ced6, #80ced6);
    }
}

/* Body styling */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    animation: gradient 10s ease-in-out infinite;
}

/* Logo styling */
.logo {
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

svg {
    width: 30px;
    fill: #0d5eaf;
    margin: 0 10px;
    transition: fill 0.3s ease;
}

svg:hover {
    fill: #004a77;
}

/* Header styling */
header {
    background-color: #37474f;
    color: #fff;
    padding: 10px;
    text-align: center;
}

/* Navigation styling */
nav {
    background-color: #455a64;
    padding: 10px;
    text-align: center;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline-block;
    margin: 0 10px;
}

nav ul li a {
    color: #eceff1;
    text-decoration: none;
    transition: color 0.3s ease;
}

nav ul li a:hover {
    color: #004a77;
}

/* Section styling */
section {
    padding: 20px;
    text-align: left;
}

/* Footer styling */
footer {
    background-color: #263238;
    color: #004a77;
    padding: 10px;
    text-align: center;
}

/* Image styling */
img {
    width: 20%;
}

/* Responsive image styling for smaller screens */
@media(max-width: 768px) {
    img {
        width: 100%;
    }
}
