@keyframes gradient {
    0%, 100% {
        background: linear-gradient(to bottom, #3d3d3b, #3d3d3b, #3d3d3b);
    }
    50% {
        background: linear-gradient(to bottom, #3d3d3b, #3d3d3b, #3d3d3b);
    }
}


body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
    animation: gradient 10s ease-in-out infinite;
}


.logo {
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

svg {
    width: 30px;
    fill: #1917b9;
    margin: 0 10px;
    transition: fill 0.3s ease;
}

svg:hover {
    fill: #004a77;
}


header {
    background-color: #3d3d3b;
    color: #fff;
    padding: 10px;
    text-align: center;
}


nav {
    background-color: #3d3d3b;
    padding: 10px;
    text-align: center;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline-block;
    margin: 0 10px;
}

nav ul li a {
    color: #f6f6f6;
    text-decoration: none;
    transition: color 0.3s ease;
}

nav ul li a:hover {
    color: #f0f0f0;
}


section {
    padding: 20px;
    text-align: left;
}


footer {
    background-color: #3d3d3b;
    color: #004a77;
    padding: 10px;
    text-align: center;
}


img {
    width: 20%;
}


@media(max-width: 768px) {
    img {
        width: 100%;
    }
}
